

.cart-img{
    border: 1px solid #ddd;
    border-radius: 4px;
    
    width: 100px;
}

.cart-btn{
    background: #f0c14b;
    border-radius: 2px;
    width: 50%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
}

.plus{
   font-size: 20px;
}

.minus{
    font-size: 20px;
 }

 .cart{
     max-width: 100%;
 }

 .cart-img-main{
     max-width: 100%;
 }